.item {
  position: relative;
  overflow: hidden;
}

.item:hover .item__text {
  transform: translateY(0);

}

.item__text {
  position: absolute;
  bottom: 0;
  background: #F8AC7A;
  border-bottom: 5px solid #BE7E4F;
  padding: 1rem;
  transition: all 0.5s linear;
  transition-delay: 0.1s;
  transform: translateY(100%);
}

.item__desc {
  color: #Fff;
  font-size: 1rem;
}

.item__name {
  color: #9566B7;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.item__list {
  max-width: 80rem;
  margin: 10rem auto;
}

.item__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.item__style {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 50%;
  transform: translate(-28%, 35%);
}

@media screen and (max-width: 480px) {
  .item__style_img {
    width: 110px !important;
  }
}

.item__style_img {
  width: 140px;
}

.item_img {
  width: 250px;
}

.item__price {
  color: #6A5AF9;
}